:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

.navLink {
  text-decoration: none;
  color: var(--text-color); 
}

.navbar {
  display: flex;
  flex-wrap: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  position: fixed !important;
  width: 99%;
  /* height: 70px; */
  padding: 0 30px !important;
  z-index: 1000;
}

.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
  color: white !important;
}

.navbar__logo i {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0px;
}

.navbar__icons li {
  padding: 35px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
 
  font-size: 30px;
  color: var(--accent-color);
   color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 15px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__toggleBtn {
    display: block;
	color: white;
  }
  .navbar__menu.navactive,
  .navbar__icons.navactive {
    display: flex;
  }
}

.navbar-toggler-icon {
  
  display: inline-block;
  width: 1.5em;
   height: 1.5em; 
   vertical-align: middle; 
   background-image:none; 
   /* background-repeat: no-repeat;  */
   background-position: center; 
   background-size: 100%; 

   color: white;
}

/* ..................................... */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.navbar{
  background-color:#263343;
  ;
}
.navbar-brand{
  color:white;
  font-weight: bold;
}
.nav-item .nav-link{
  color: white;
  font-weight: bold;
  margin-right: 15px;
}


.navbar-toggler {
    padding: 0.1rem 0.75rem !important;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color:red;
    background-color: rgb(243, 243, 239) !important;
    border:none !important;
    /* border-radius: var(--bs-navbar-toggler-border-radius); */
    transition: var(--bs-navbar-toggler-transition);
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  /* box-shadow: red; */
}


#navbarSupportedContent ul li a{
color: white !important;
}

#navbarSupportedContent ul li :hover{
  /* background-color: #adaba9 !important; */
  color: rgb(251, 199, 103) !important;
}